<!DOCTYPE html>
<html>
<head>
  <title>CountMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link rel="import" href="<%= asset_path('strand/dist/strand.html') %>"/>  
</head>
<body class="<%= controller_name %> <%= action_name %>">

<%= yield %>

</body>
</html>
